.App {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    color: white;
    background-color: #282c34;
}

p {
    text-align: left;
}

a {
    color: #88C0D0;
}
